.forgotContainer {
    padding: 20px;
    margin-top: 100px;
    height: 400px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login {
    background-color: gray;
    height: 100vh;
}

.loginText {
    font-size: 28px;
    font-weight: bold;
}

.loginButton {
    margin-right: 10px;
}

.text-right {
    text-align: right;
}